<!DOCTYPE html>
<html lang="en">

  <head>
    {% include 'include/head.html' %}
  </head>

  <body>
    {% from 'macros.html' import breadcrumb with context %}
      {% include 'include/header.html' %}

        <!-- Main Container -->
    <div class="flex p-5 gap-5 pt-[120px] max-w-7xl container mx-auto">

          <!-- Side Navigation Menu -->
	  {% include 'include/side_bar.html' %}
      

          <main class="w-full lg:max-w-[918px] lg:ml-[190px] min-h-screen">
	    {% include 'include/search_results.html' %}	    	    
                <section class="primary">
                  <div class="sm:container mx-auto">
		    {{ breadcrumb([(site.Home, 'index.html'), (site.archive_title, '')]) }}
		    
		    <!-- Department Summary -->
                    <div class="w-full bg-gray-200 p-3 sm:p-6">
		      <div class="mb-4">
			<span class="text-blue-500 font-bold text-xl md:text-2xl">{{ site.archive_title }}</span>
		      </div>
                      <div class="border bg-white p-3 my-5 text-base">
			<!-- Department Links -->
			<h2 class="text-base font-bold text-black ml-2 mb-4 mt-4">{{ site.dept_title }} </h2>
			{% for (year, weeks) in dept_archive.items() %}
			<div class="m-2 mb-8 flex flex-col md:flex-row w-full">
			  <div class="md:w-1/4 w-full p-2">
			    <h2 class="text-base font-semibold text-black">{{ year }} </h2>
			  </div>
			  <div class="md:w-3/4 w-full p-2">
			    {% for week_num in weeks %}
			    {% if loop.index ==  1 %}
			    <span><a class="text-blue-500" href="dept/{{year|int}}-W{{week_num|int}}-summary.html">{{site.week}} {{ week_num|trim("W")}}</a> </span>
			    {% else %}
			    <span> | <a class="text-blue-500" href="dept/{{year|int}}-W{{week_num|int}}-summary.html">{{site.week}} {{ week_num|trim("W")}}</a></span>
			    {% endif %}			    
			    {% endfor %}			    
			  </div>
			</div>
			{% endfor %}
			
			<span class="block h-[1px] w-full mt-5 bg-[#B6B6B6]"></span>
			
			<!-- District Links -->
			<h2 class="text-base font-bold text-black ml-2 mb-4 mt-4">{{ site.district_title }} </h2>
			{% for (year, weeks) in district_archive.items() %}
			<div class="m-2 mb-8 flex flex-col md:flex-row w-full">
			  <div class="md:w-1/4 w-full p-2">
			    <h2 class="text-base font-semibold text-black">{{ year }} </h2>
			  </div>
			  <div class="md:w-3/4 w-full p-2">
			    {% for week_num in weeks %}
			    {% if loop.index ==  1 %}
			    <span><a class="text-blue-500" href="dist/{{year|int}}-W{{week_num|int}}-summary.html">{{site.week}} {{ week_num|trim("W")}}</a> </span>
			    {% else %}
			    <span> | <a class="text-blue-500" href="dist/{{year|int}}-W{{week_num|int}}-summary.html">{{site.week}} {{ week_num|trim("W")}}</a></span>
			    {% endif %}
			    {% endfor %}
			  </div>
			</div>
			{% endfor %}			  
                    </div>
                  </div>
                </section>
          </main>
        </div>
	{% include 'include/footer.html' %}
    </body>
</html>
